@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,500;1,700&display=swap");
.form {
  width: 40%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: black;
  border-radius: 8px;
}

.form input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
}

.form-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form h2 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  background: linear-gradient(331deg, rgb(40, 40, 40) 25%, rgb(148, 48, 154) 37%, rgb(0, 0, 0) 48%, rgb(0, 0, 0) 82%);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  color: white;
  background: linear-gradient(331deg, rgb(40, 40, 40) 25%, rgb(148, 48, 154) 37%, rgb(0, 0, 0) 48%, rgb(0, 0, 0) 82%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 700;
  color: white;
}

h2 {
  font-weight: bolder;
  font-size: 50px;
}

h3 {
  color: rgb(240, 33, 235);
  text-align: center;
}

p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.button {
  color: white;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  width: 200px;
  border-radius: 10px;
}

.button:hover {
  font-weight: bold;
  background-color: rgb(58, 54, 54);
}

.separation {
  margin: 100px 0;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.shadow {
  box-shadow: 27px 26px 21px 0px black;
}

.nav-bar {
  background: rgb(240, 33, 235);
  background: linear-gradient(0deg, rgb(240, 33, 235) 0%, rgb(32, 26, 32) 19%, rgb(0, 0, 0) 91%);
  border-bottom: 1px solid white;
}
.nav-bar .nav-bar_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar_content--link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar img {
  width: 60px;
}

.nav-bar a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-bar a:hover {
  color: rgb(240, 33, 235);
}

.icons {
  color: white;
  width: 10px;
}

.video-hero img {
  width: 100vw;
  max-height: 80vh;
  object-fit: cover;
}

.header-hero {
  background-image: url("../../images/header-back.jpg");
  background-position: center;
  background-size: cover;
}

.contenido-hero {
  text-align: center;
  padding: 15%;
}

.contenido-hero h1 {
  font-size: 150px;
}

.contenido-hero p {
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  background: linear-gradient(331deg, rgb(40, 40, 40) 25%, rgb(148, 48, 154) 37%, rgb(0, 0, 0) 48%, rgb(0, 0, 0) 82%);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  color: white;
  background: linear-gradient(331deg, rgb(40, 40, 40) 25%, rgb(148, 48, 154) 37%, rgb(0, 0, 0) 48%, rgb(0, 0, 0) 82%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 700;
  color: white;
}

h2 {
  font-weight: bolder;
  font-size: 50px;
}

h3 {
  color: rgb(240, 33, 235);
  text-align: center;
}

p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.button {
  color: white;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  width: 200px;
  border-radius: 10px;
}

.button:hover {
  font-weight: bold;
  background-color: rgb(58, 54, 54);
}

.separation {
  margin: 100px 0;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.shadow {
  box-shadow: 27px 26px 21px 0px black;
}

.img-1 {
  max-width: 50%;
  border-radius: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cards .card {
  max-width: 400px;
  background-color: black;
  border: 1.5px solid rgb(240, 33, 235);
  border-radius: 20px;
  box-shadow: 27px 26px 21px 0px black;
}
.cards .card img {
  width: 100%;
  border-radius: 20px;
}
.cards .card-text {
  padding: 10px;
}

.section-welcome {
  margin: 200px 5%;
  display: flex;
  gap: 20px;
}

.section-welcome img {
  border-radius: 30px;
  max-width: 40%;
  box-shadow: 27px 26px 21px 0px black;
}

ul {
  justify-content: space-evenly;
  list-style: none;
  font-weight: bold;
}

.video {
  display: block;
  margin: 50px auto;
  max-width: 400px;
  border-radius: 10px;
}

.table {
  background-color: white;
  color: black;
  border: 4px solid rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.table td {
  border: 2px solid black;
  border-collapse: collapse;
}

.table img {
  max-width: 12px;
}

.captcha {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.img-check {
  max-width: 20px;
}

#captcha-img {
  color: rgb(36, 36, 35);
  background-color: dimgrey;
  text-align: center;
  width: 200px;
  font-size: 50px;
  text-decoration: line-through;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  opacity: 0.5;
}

.row img:hover {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  padding: 40px;
  border-top: 2px solid rgb(240, 33, 235);
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.redes a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: white;
}

.redes a:hover {
  color: rgb(240, 33, 235);
}

.section-created {
  text-align: center;
}
.section-created img {
  text-align: center;
  width: 60px;
}

.container {
  margin: 0 5%;
}
