@import '../base/globales';

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 120px;
}

.img-1 {
    max-width: 50%;
    border-radius: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    .card {
        max-width: 400px;
        background-color: $colorDos;
        border: 1.5px solid $colorUno;
        box-shadow: 27px 26px 21px 0px $colorDos ;
    }
    .card img{
        width: 100%;
    }
}

.section-welcome{
    display: flex;
}